## Variable

### Synatx:

In [ ]:
Variable_name=val

In [1]:
num=10

###  Other Programming

In [ ]:
Datatype variable_name=val

In [2]:
no1=10

In [3]:
no1

10

In [4]:
no2=10

In [5]:
no2

10

## mutli-val initalization with same data

In [6]:
no1=no2=10

In [7]:
no1

10

In [8]:
no2

10

## mutli-val initalization different val

In [9]:
no1,no2=2,3

In [10]:
no1

2

In [11]:
no2

3

### Swapping of 2no

In [17]:
no1,no2=4,7

In [18]:
no1,no2=no2,no1

In [19]:
no1

7

In [20]:
no2

4

### Addition

In [21]:
2+3

5

### Object id

In [23]:
no=5

In [24]:
id(no)

140708990129088

In [25]:
no1=5

In [26]:
id(no1)

140708990129088

In [27]:
no2=6
id(no2)

140708990129120

## Dynamic Typed

In [28]:
num1=2        # variable_name=val

In [29]:
num1

2

In [30]:
num1=2.3

In [31]:
num1

2.3

In [32]:
num1="SA"

In [33]:
num1

'SA'

### Rule for variable

In [ ]:
1.Can start with alpha ,should not start with integer
2.no special char is allowed(!@#$%^&*)
3.no keyword or reserved words 
4.variable can be joined by underscore or Camelcases
    ex:i_Phone,iPhone

In [36]:
num1=10

In [38]:
num_data=20

In [39]:
iPhone="10X"  #iphone

In [40]:
i_Phone="10X"

In [41]:
list,str,dict,int ,float

(list, str, dict)

In [ ]:
eBay

In [42]:
no1=6

In [43]:
No1=7

In [44]:
no1

6

In [45]:
No1

7

## Datatypes

In [ ]:
int
float
bool
complex
string

In [46]:
no=2  #2,4bytes

In [47]:
no=21345678902345674567

In [48]:
no

21345678902345674567

### int-base(binary,oct,hex)

In [57]:
num=0b1010   #1010(binary)=10

In [58]:
num

10

In [50]:
0o147

103

In [51]:
0x21

33

In [52]:
0B1010

10

In [53]:
num=2.345666776

In [54]:
num

2.345666776

In [55]:
no=True

In [56]:
no

True

In [64]:
no1=2+3j

In [67]:
no1.real

2.0

In [68]:
no1.imag

3.0

In [65]:
no2=2+5j

In [66]:
no1+no2

(4+8j)

In [62]:
name="SA"

In [63]:
name='SA'

In [ ]:
''
" "
''' '''
""" """

## input and output

In [69]:
no=2

In [76]:
no1=int(input()) #input-Single line comment line

20

In [77]:
no2=int(input())

30

In [78]:
no1+no2

50

In [79]:
type(no1)   #type()

int

In [97]:
num1=float(input("Enter num1 val:"))

Enter num1 val:4.5

In [98]:
num1

4.5

In [83]:
num2=bool(input())

True

In [84]:
num2

True

# Print

In [85]:
print("hello")

hello

In [89]:
print("hi",end="\t")
print("hello")

hi	hello

In [92]:
no1=2
no2=3
print(no1,no2)

2 3

In [96]:
no1=2
no2=3
print(no1,no2,sep="#",flush=True)

2#3

In [ ]:
function(val1,val2)

In [86]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [99]:
no=4+5j

In [100]:
no.real

4.0

In [102]:
no.imag

5.0

In [103]:
num=12

In [104]:
num

12

In [105]:
a = 10
print(bin(a))

0b1010

In [106]:
a=0b1010
print(a)

10

In [108]:
b=0o147
print(b)

103

In [109]:
print(bin(b))

0b1100111

In [110]:
print(hex(b))

0x67

In [111]:
print(oct(a))

0o12